.MarginTopBottom {
  margin: 1em 0em;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  font-family: arial, helvetica, sans-serif;
}
#marquee {
  color: white;
  margin: 0;
  position: relative;
}
#marquee .hdr-large {
  font-size: 5em;
  line-height: 100%;
}
#marquee .hdr-medium {
  font-size: 4em;
  line-height: 100%;
}
#marquee .hdr-small {
  font-size: 3.1em;
  line-height: 100%;
}
#marquee .hdr-xsmall {
  font-size: 2.7em;
  line-height: 100%;
}
#marquee .hdr-xxsmall {
  font-size: 2.2em;
  line-height: 100%;
}
#marquee p {
  width: 75%;
}
#marquee h1 {
  text-transform: uppercase;
  width: 80%;
}
#marquee .button {
  color: white;
  text-decoration: none;
  padding: .4em 1em;
  text-transform: uppercase;
  border: 1px solid white;
  float: left;
  margin: 0;
  border-radius: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcab10), to(#ff9019));
  background-image: -webkit-linear-gradient(top, #fcab10, #ff9019);
  background-color: #ff9019;
  background-image: -moz-linear-gradient(top, #fcab10, #ff9019);
  background-image: -ms-linear-gradient(top, #fcab10, #ff9019);
  background-image: -o-linear-gradient(top, #fcab10, #ff9019);
  background-image: linear-gradient(top, #fcab10, #ff9019);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
  text-shadow: 0 1px 1px #323232;
}
#header {
  margin: 1em 0em;
}
#header h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 800;
}
#options {
  margin: 1em 0em;
}
.tpl-left .marquee-body {
  position: absolute;
  top: 23%;
  left: 10%;
  width: 50%;
}
.panel-body {
  padding: 0;
}
.panel-title > a {
  width: 100%;
  display: inline-block;
}
.panel-title > a:hover {
  text-decoration: none;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.search {
  width: 60%;
  margin-right: 1em;
}
.editable-wrap .editable-controls > input {
  border: none;
  background: none;
}
.editable-controls .editable-buttons {
  display: none;
}
.editable-click,
a.editable-click {
  color: inherit;
}
.marquee-body h1 + form {
  font-size: 3.1em;
  margin-bottom: 10px;
}
.marquee-body form * {
  outline: none;
}
.marquee-body p + form {
  margin-bottom: 10px;
}
ul#accordion {
  padding: 0;
}
#item {
  position: relative;
}
#remove {
  position: absolute;
  top: 0;
  right: -4%;
}
