body {
  max-width: 1440px;
  margin: 0 auto;
  position: relative; }

#marquee {
  color: white;
  float: left;
  margin: 1em 0em;
  position: relative; }
  #marquee .hdr-large {
    font-size: 5em;
    line-height: 100%; }
  #marquee .hdr-medium {
    font-size: 4em;
    line-height: 100%; }
  #marquee .hdr-small {
    font-size: 3.1em;
    line-height: 100%; }
  #marquee .hdr-xsmall {
    font-size: 2.7em;
    line-height: 100%; }
  #marquee .hdr-xxsmall {
    font-size: 2.2em;
    line-height: 100%; }
  #marquee p {
    width: 75%; }
  #marquee h1 {
    text-transform: uppercase;
    width: 80%; }
  #marquee .button {
    color: white;
    text-decoration: none;
    padding: .4em 1em;
    text-transform: uppercase;
    border: 1px solid white;
    float: left;
    margin: 0;
    border-radius: 0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcab10), to(#ff9019));
    background-image: -webkit-linear-gradient(top, #fcab10, #ff9019);
    background-color: #ff9019;
    background-image: -moz-linear-gradient(top, #fcab10, #ff9019);
    background-image: -ms-linear-gradient(top, #fcab10, #ff9019);
    background-image: -o-linear-gradient(top, #fcab10, #ff9019);
    background-image: linear-gradient(top, #fcab10, #ff9019);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
    text-shadow: 0 1px 1px #323232; }

#header {
  margin: 1em 0em 0em 0em; }

#options {
  margin: 0em 0em 1em 0em; }

.tpl-left .marquee-body {
  position: absolute;
  top: 23%;
  left: 10%;
  width: 50%; }
