// Marquee specific styles
.marquee{
	/*
		Here we're setting our font-size to 1rem. 1rem in this case is equal to 10px since it's relative to the root html element (62.5%). This allows us to set all of our marquee specific type styles relative to our ".marquee" module. We can change the font-size of our ".marquee" module instead of the main html element which would cause all font sizes to change. This allows us to create an isolated context seperate from the rest of our styles.
	*/
	font-size:1rem;
	margin:0;
	position:relative;

	.marquee-body{
		position:absolute;
		.marquee-cta{
			display: inline-block;
		}
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	@import "templates";
	@import "typography";
}

// App specific styles
.header{
	max-width: 1440px;
	margin: 1em auto;
	h1{
		font-family:@font-stack-header;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 800;
		a{
			color: rgb(51, 51, 51);
			&:hover{
				text-decoration:none;
			}
		}
	}
	& + section{
		max-width: 144rem;
		margin: 0 auto;
	}
}
.options{
	float:left;
	width: 100%;
	.MarginTopBottom;
	.well section{
		float:left;
		ul{
			float: left;
			list-style:none;
			padding: 0 4em 0 0;
		}
	}
}
.search{
	width:60%;
	margin-right: 1em;
}
.homeCarousel {
	background: url('../images/bg-theme.jpg') no-repeat top center;
	background-size: cover;
	display:block;
	position: relative;
}

// Timeline styles
.rsNav.rsTabs {
	overflow:visible;
	margin-top: 0px;
	background: #00425c;
	width:100%;
	background-color: @thumbs; /* tertiarycolor?	*/
	margin-left: 0;
	padding-left: 5%;
	.timeline {
		text-align: justify;
		border-left: 1px solid @tertiarycoloroffset;
		box-sizing:border-box;
		height:60px;
		margin-right: 10%;
		width: 97.6%;
		&:after{
			content: '';
			display: inline-block;
			width: 70%;
		}

		.rsTab {
			height: 100%;
			float:left;
			width: 19.5%;
			display: inline-block;
			border-collapse:separate;
			cursor:pointer;
			border-left: 1px solid @secondarycolor;
			border-right: 1px solid @secondarycolor;
			box-sizing:border-box;
			padding: 1em 0 0 1em;
			a{text-decoration: none;}
			img {float:left; padding-right:0.5em;}
			div {line-height:1.25; color: @white;}
			p{
				line-height: 1.3em;
				margin-bottom: 0;
				text-align: left;
				width: 90%;
				font-size: 1.3rem;
			}
			&.rsNavSelected {
				background: @thumbs-on;
			}
		}
	}
}

// Like Control
.likeControl{
	position: absolute;
	top: 4%;
	right: 4%;
	.likeControlBG{
		background: rgb(75, 133, 172);
		.opacity(.8);
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.likeControlContent{
		padding: .4em 1em;
		color: @white;
		font-size:1.3rem;
		position: relative;
		z-index: 10;
		a, a:visited{
			color: @white;
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}
		.like, .dislike{
			padding-right: 0.7rem;
		}
		.dislike{padding: 0 .5em 0 .8em;border-left: 1px solid @secondarycolor;}
	}
}

/*
	Phone specific styles
	These are slimmed down from what's on the actual site. Didn't need to bring in all the HTML to mock it up.
*/
.phone, .tablet{
	margin: 1.5rem;
}

.phone {
	float: left;
	max-width: 32.6rem;
	margin-left:0;
	a{
		height: 19rem;
		display: inline-block;
		border: 3px solid #aaaaaa;
	}
	img{
		max-width: 320px;
	}
	.rsTabs {
		display: inline-block;
		width: 20%;
		padding: .3em;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#176a8a), color-stop(100%,#00425c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #176a8a 0%,#00425c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #176a8a 0%,#00425c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #176a8a 0%,#00425c 100%); /* IE10+ */
		background: linear-gradient(to bottom, #176a8a 0%,#00425c 100%); /* W3C */
		-webkit-transform-style: preserve-3d;
		a{
			border: none;
			height:auto;
			color:white;
			font-size: 1.1rem;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			text-align: center;
			&:hover{
				cursor: default;
				text-decoration: none;
			}
		}
	}
	.contentbar{
		padding: .5em .8em .5em 1em;
		color: #0c86ff;
		font-weight: bold;
		line-height: 1.1em;
		min-height: 32px;
		position: relative;
		background-color: #ffffff;
		i{
			position: absolute;
			right: .5em;
			top: 37%;
			bottom: 50%;
			font-size: 90%;
			width: 1.5em;
		}
	}
}

/*
	Tablet specific styles for the Marquee App.
	These are slimmed down from what's on the actual site. Didn't need to bring in all the HTML to mock it up.

	All of the styles below are to mock up the size of a 768 marquee for the app specifically
*/
.tablet{
	width: 53.33%;
	float:left;

	// Removing the timeline image
	.timeline{
		img{display: none;}
	}
	@import (multiple) "768";
}