// Landscape
@media screen and (max-width: 102rem){
	.marquee{
		font-size:0.9rem;
		p{
			width:100%;
		}

		.tpl-left {

		}
		.tpl-right {

		}
		.tpl-center {

		}
		.tpl-partner {

		}
		.tpl-routes {

		}


	}

}

// Portrait
@media screen and (max-width: 76.8rem){
	.marquee{
		font-size:0.8rem;
		p{
			width:100%;
		}
	}
}