// Landscape
@media screen and (max-width: 1024px){
	.marquee{
		font-size:0.9rem;
		p{
			width:100%;
		}
	}

}

// Portrait
@media screen and (max-width: 768px){
	.marquee{
		font-size:0.8rem;
		p{
			width:100%;
		}
	}
}