// Colors
@brand-primary: #428bca; // Light blue
@secondarycolor: rgb(209, 222, 229);
@darkblue: #00425c; // Marquee header blue
@font-stack-header:'Roboto', sans-serif;
@font-stack-primary: "Frutiger Light", Arial, sans-serif;
@font-stack-primary-bold: FrutigerLTCom-Bold, arial, sans-serif;
@font-stack-secondary: Arial, helvetica, sans-serif;
@tertiarycoloroffset: rgb(23, 106, 138);
@thumbs:rgb(111,157,189);
@thumbs-on: rgb(39,118,157);
@white: rgb(255,255,255);