@import 'variables';

body{
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

header{
	// background:#ffffff url('../imgs/logo.svg') no-repeat 25% 70%;
	h1{}
}
#marquee{
	float:left;
	margin:1em 0em;
}
#header{
	margin:1em 0em 0em 0em;
	// h1{font-size:1.3em;}
}