<div class="row">
	<h1 class="h4 col-lg-2"><i class="fa fa-flask"></i> Marquee App</h1>
	<div class="col-lg-1"></div>
	<div class="col-lg-9 ng-scope">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default" ng-click="toggleMarquees()"><i class="fa fa-align-justify"></i> Toggle</button>
			<button class="btn btn-default" ng-click="clickToOpen()"><i class="fa fa-plus"></i> Release</button>
		</div>
  	 	<div class="input-group search pull-right">
			<div class="input-group">

				<!-- Search -->
				<input type="text" ng-model="search.m" class="form-control" placeholder="Search..." ng-change="showAllMarquees()">

				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Releases <i class="fa fa-caret-down"></i></button>
					<ul class="dropdown-menu pull-right">
						<li ng-repeat="releaseDate in m.releases"><a ui-sref="releases({release:releaseDate})" ng-click="filterMarquees(releaseDate)">{{ releaseDate }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>