<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				Marquee #1
			</a>
		</h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse in">
		<div class="panel-body">
			<!-- Marquee -->
			<div id="marquee" class="tpl-left">
				<img src="imgs/marquee.jpeg" class="img-responsive" alt="" />
				<div class="marquee-body">
					<h1 class="hdr-small">{{header}}</h1>
					<p>{{body}}</p>
					<a href="#" class="button" ng-show="button">{{button}}</a>
				</div>
			</div>

			<!-- Begin Navigation -->
			<nav class="container-fluid" id="options">

				<!-- Templates -->
				<div class="btn-group dropup">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Templates <span class="caret"></span>
					</button>

					<ul class="dropdown-menu" role="menu">
						<li role="presentation" class="dropdown-header">Generic Items</li>
						<li><a href="#">Left</a></li>
						<li><a href="#">Right</a></li>
						<li><a href="#">Center</a></li>
						<li><a href="#">Partner</a></li>
						<li><a href="#">Routes</a></li>
						<li><a href="#">Tiers</a></li>
						<li><a href="#">Boardingbonus</a></li>
						<li class="divider"></li>
						<li role="presentation" class="dropdown-header">Promotions</li>
						<li><a href="#">Left</a></li>
						<li><a href="#">Right</a></li>
						<li><a href="#">Center</a></li>
					</ul>
				</div>

				<!-- Theme -->
				<div class="btn-group dropup">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Themes <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Light</a></li>
						<li><a href="#">Dark</a></li>
					</ul>
				</div>

				<!-- Button Icons -->
				<div class="btn-group dropup">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Button Icons <span class="caret"></span>
					</button>

					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Retail</a></li>
						<li><a href="#">Cars</a></li>
						<li><a href="#">Travel</a></li>
						<li><a href="#">Finance</a></li>
						<li><a href="#">Hotels</a></li>
						<li><a href="#">Train</a></li>
						<li><a href="#">PFS</a></li>
					</ul>
				</div>

				<!-- Header style -->
				<div class="btn-group dropup">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Header style <span class="caret"></span>
					</button>

					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Option 1</a></li>
						<li><a href="#">Option 2</a></li>
						<li><a href="#">Option 3</a></li>
						<li><a href="#">Option 4</a></li>
						<li><a href="#">Option 5</a></li>
						<li><a href="#">Option 6</a></li>
						<li><a href="#">Option 7</a></li>
					</ul>
				</div>

				<!-- Save -->
				<button type="button" class="btn btn-default"><i class="fa fa-floppy-o"></i> Save</button>

				<!-- Upload -->
				<button type="button" class="btn btn-primary pull-right"><i class="fa fa-upload"></i> Upload</button>
			</nav>
			<!-- End Navigation -->

			<section class="container-fluid">
				<div class="row">
					<!-- Inputs -->
					<form class="col-lg-7" id="inputs">
						<input type="text" class="form-control" placeholder="Header copy" ng-model="header"><br />
						<textarea class="form-control" rows="3" placeholder="Body copy" ng-model="body"></textarea><br />
						<input type="text" class="form-control" placeholder="Button copy" ng-model="button">
					</form>

					<div class="dropdown col-lg-2">
					  <a data-toggle="dropdown" href="#">Releases</a>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li>Release 1</li>
					    <li>Release 2</li>
					    <li>Release 3</li>
					    <li>Release 4</li>
					    <li>Release 5</li>
					  </ul>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>