<div class="marquee">
	<div class="marquee-body tpl-{{ marquee.template }} theme-{{ marquee.theme }} type-{{ marquee.type }}">
		<h1 ng-if="marquee.header" class="{{ marquee.headerStyle }}" edit="{{ marquee.header }}">{{ marquee.header }}</h1>
		<p edit="{{ marquee.body }}">{{ marquee.body }}</p>
		<div class="marquee-cta">
			<a href="#" class="button" edit="{{ marquee.button }}"><i></i>{{ marquee.button }}</a>
			<span class="terms" ng-if="marquee.terms">{{ marquee.terms }}</span>
		</div>
	</div>
	<img src="{{ marquee.image }}" alt="{{ marquee.title }}" />
</div>
<timeline></timeline>
<likecontrol></likecontrol>