<activerelease ng-show="checkRelease()"></activerelease>

<ul class="panel-group accordion">
	<li ng-repeat="marquee in m.marquees | filter:search.m">
		<accordion close-others="false">
			<accordion-group is-open="marquee.toggled">
				<accordion-heading>
					{{ marquee.contentkey }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': marquee.toggled, 'glyphicon-chevron-right': !marquee.toggled}"></i>
				</accordion-heading>

				<!-- Custom directive to show the body of each marquee. Used to customize the HTML. -->
				<marquees id="homeCarousel"></marquees>
				<timeline></timeline>

				<!-- Options -->
				<nav class="container-fluid options" ng-include src="'views/marquees/options.html'"></nav>

			</accordion-group>
		</accordion>
		<!-- <button type="button" class="btn btn-danger pull-right" ng-click="removeMarquee()" id="remove" ng-class="'glyphicon glyphicon-remove'"></button> -->
	</li>
</ul>