<!-- Templates -->
<div class="btn-group dropup">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Templates <i class="fa fa-caret-up"></i>
	</button>

	<ul class="dropdown-menu" role="menu">
		<li role="presentation" class="dropdown-header">Generic Items</li>
		<li><a href="#" ng-click="marquee.template = 'left'">Left</a></li>
		<li><a href="#" ng-click="marquee.template = 'right'">Right</a></li>
		<li><a href="#" ng-click="marquee.template = 'center-btn-right'">Center Button Right</a></li>
		<li><a href="#" ng-click="marquee.template = 'center-btn-left'">Center Button Left</a></li>
		<li><a href="#" ng-click="marquee.template = 'partner'">Partner</a></li>
		<li><a href="#" ng-click="marquee.template = 'routes'">Routes</a></li>
		<li><a href="#" ng-click="marquee.template = 'tiers'">Tiers</a></li>
		<li><a href="#" ng-click="marquee.template = 'boardingbonus'">Boardingbonus</a></li>
		<li class="divider"></li>
		<li role="presentation" class="dropdown-header">Promotions</li>
		<li><a href="#">Left</a></li>
		<li><a href="#">Right</a></li>
		<li><a href="#">Center</a></li>
	</ul>
</div>

<!-- Theme -->
<div class="btn-group dropup">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Themes <i class="fa fa-caret-up"></i>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#" ng-click="marquee.theme = 'light'">Light</a></li>
		<li><a href="#" ng-click="marquee.theme = 'dark'">Dark</a></li>
	</ul>
</div>

<!-- Button Icons -->
<div class="btn-group dropup">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Button Icons <i class="fa fa-caret-up"></i>
	</button>

	<ul class="dropdown-menu" role="menu">
		<li><a href="#" ng-click="marquee.type = 'retail'">Retail</a></li>
		<li><a href="#" ng-click="marquee.type = 'cars'">Cars</a></li>
		<li><a href="#" ng-click="marquee.type = 'travel'">Travel</a></li>
		<li><a href="#" ng-click="marquee.type = 'finance'">Finance</a></li>
		<li><a href="#" ng-click="marquee.type = 'hotels'">Hotels</a></li>
		<li><a href="#" ng-click="marquee.type = 'train'">Train</a></li>
		<li><a href="#" ng-click="marquee.type = 'pfs'">PFS</a></li>
	</ul>
</div>
<button type="button" class="btn btn-default pull-right"><i class="fa fa-upload"></i> Upload Image</button>

<!-- Header style -->
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="isCollapsed = !isCollapsed">
	Header styles <i class="fa fa-caret-down"></i>
</button>
<div collapse="isCollapsed">
	<div class="well well-lg">
		<input type="text" ng-model="input1">
		<input type="checkbox" name="twolines" value="yes" ng-model="new"> Different sizes?
		<input type="text" ng-show="new" ng-model="input2">
		
		<button type="submit" class="btn btn-default" ng-show="new" ng-click="addContent(marquee, input1, input2)">Save</button>
		<button type="button" class="btn btn-default" ng-show="new">Toggle sizes</button>


		<ul>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-l'">hdr-l</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-l-m'">hdr-l-m</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-l-s'">hdr-l-s</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-l-xs'">hdr-l-xs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-l-xxs'">hdr-l-xxs</a></li>
			<li class="divider"></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-m'">hdr-m</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-m-s'">hdr-m-s</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-m-xs'">hdr-m-xs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-m-xxs'">hdr-m-xxs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-m-l'">hdr-m-l</a></li>
			<li class="divider"></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-s'">hdr-s</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-s-xs'">hdr-s-xs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-s-xxs'">hdr-s-xxs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-s-m'">hdr-s-m</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-s-l'">hdr-s-l</a></li>
			<li class="divider"></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xs'">hdr-xs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xs-xxs'">hdr-xs-xxs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xs-s'">hdr-xs-s</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xs-m'">hdr-xs-m</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xs-l'">hdr-xs-l</a></li>
			<li class="divider"></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xxs'">hdr-xxs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xxs-xs'">hdr-xxs-xs</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xxs-s'">hdr-xxs-s</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xxs-m'">hdr-xxs-m</a></li>
			<li><a href="#" ng-click="marquee.headerStyle = 'hdr-xxs-l'">hdr-xxs-l</a></li>
		</ul>
	</div>
</div>


<!-- <span class="btn btn-default btn-file">
    Browse <input type="file">
</span> -->