<!-- Templates -->
<div class="btn-group dropup">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Templates <span class="caret"></span>
	</button>

	<ul class="dropdown-menu" role="menu">
		<li role="presentation" class="dropdown-header">Generic Items</li>
		<li><a href="#">Left</a></li>
		<li><a href="#">Right</a></li>
		<li><a href="#">Center</a></li>
		<li><a href="#">Partner</a></li>
		<li><a href="#">Routes</a></li>
		<li><a href="#">Tiers</a></li>
		<li><a href="#">Boardingbonus</a></li>
		<li class="divider"></li>
		<li role="presentation" class="dropdown-header">Promotions</li>
		<li><a href="#">Left</a></li>
		<li><a href="#">Right</a></li>
		<li><a href="#">Center</a></li>
	</ul>
</div>

<!-- Theme -->
<div class="btn-group dropup">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Themes <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#" ng-click="theme='theme-light'">Light</a></li>
		<li><a href="#" ng-click="theme='theme-dark'">Dark</a></li>
	</ul>
</div>

<!-- Button Icons -->
<div class="btn-group dropup">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Button Icons <span class="caret"></span>
	</button>

	<ul class="dropdown-menu" role="menu">
		<li><a href="#">Retail</a></li>
		<li><a href="#">Cars</a></li>
		<li><a href="#">Travel</a></li>
		<li><a href="#">Finance</a></li>
		<li><a href="#">Hotels</a></li>
		<li><a href="#">Train</a></li>
		<li><a href="#">PFS</a></li>
	</ul>
</div>

<!-- Header style -->
<div class="btn-group dropup">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Header style <span class="caret"></span>
	</button>

	<ul class="dropdown-menu" role="menu">
		<li><a href="#">Option 1</a></li>
		<li><a href="#">Option 2</a></li>
		<li><a href="#">Option 3</a></li>
		<li><a href="#">Option 4</a></li>
		<li><a href="#">Option 5</a></li>
		<li><a href="#">Option 6</a></li>
		<li><a href="#">Option 7</a></li>
	</ul>
</div>

<button type="button" class="btn btn-default"><i class="fa fa-floppy-o"></i> Export</button>
<button type="button" class="btn btn-primary pull-right"><i class="fa fa-upload"></i> Upload</button>
<!-- <span class="btn btn-default btn-file">
    Browse <input type="file">
</span> -->