<div class="ngdialog-message slide">
	<h3>New Release</h3>
	<form role="form-inline">
		<div class="form-group">
			<label for="exampleInputEmail1">Name</label>
			<input type="email" class="form-control" ng-model="marquee.title">
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="exampleInputPassword1" ng-model="marquee.contentkey">Date</label>
					<input type="password" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Description</label>
			<input type="password" class="form-control" ng-model="marquee.header">
		</div>				
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>