<div class="row">
	<h1 class="h4 col-lg-4"><i class="fa fa-flask"></i> <strong>Marquee App</strong></h1>
	<form class="col-lg-8">
		<div class="row">
			<div class="btn-group col-lg-3">
				<button type="button" class="btn btn-default" autofocus ng-click="stateService.closePanel='editor'">List view</button>
				<button type="button" class="btn btn-default" ng-click="stateService.openPanel='editor'">Editor</button>
			</div>
			<div class="col-lg-4">
				<input type="search" class="form-control" placeholder="Search">
			</div>
		</div>
	</form>
</div>